header.ui.borderless.fixed.main.menu
	nav.ui.container
		a.header.item(href="/").
			#[img.logo(src="/images/logo.png", alt="ChypRiotE")]
			Accueil
		a.item(href="/web") Web
		a.item(href="/games") Jeux
		a.item(href="/plugins") Plugins
		.right.menu
			.ui.dropdown.item Gestion
				i.dropdown.icon
				.menu
					a.item(href="/admin/web") Web
					a.item(href="/admin/games") Games
					a.item(href="/admin/plugins") Plugins
header.ui.borderless.main.menu.placeholder