body,
html {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.main.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 2rem;
}
.main.wrapper .ui.grid {
  padding: 0 1em;
}
.main.wrapper .ui.image img {
  min-width: 140px;
}
.main.menu {
  margin: 1.4rem 0;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}
.main.menu.fixed {
  background-color: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.main.menu .active.item {
  color: #AF0000;
  font-weight: 700;
}
.main.menu .active.item:hover {
  color: #AF0000;
  font-weight: 700;
}
.main.menu .placeholder {
  visibility: hidden;
}
/*-----------MULTI-----------*/
#mixer .mix,
#post-cards .mix {
  display: none;
}
a.right.floated {
  float: right;
  color: inherit;
}
a.right.floated:hover {
  color: rgba(0, 0, 0, 0.4);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.ui.pagination.menu {
  margin: 1rem auto;
}
/*-----------ACCORDION-----------*/
.accordion .header {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1;
}
.accordion .title .label {
  float: right;
}
.accordion .title i.dropdown.icon {
  font-size: 1.5em;
}
.accordion .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.accordion .wrapper .ui.image {
  margin-right: 1em;
  min-height: 180px;
}
.accordion .wrapper .description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.accordion .wrapper .description p {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.accordion .wrapper .description .bottom {
  border-top: 1px solid #aaa;
  padding: .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.accordion .wrapper .description .bottom .icon {
  margin-left: .5em;
}
.accordion .wrapper .description .bottom a:not(.button) {
  color: #E26B1C;
}
.accordion .wrapper .description .bottom a:not(.button):hover {
  color: #FF6A00;
  text-decoration: underline;
}
/*-----------VERTICAL-MENU-----------*/
.ui.vertical.menu {
  width: auto;
  margin-top: 2em;
}
.ui.vertical.menu h3.header {
  padding: 10px;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.ui.vertical.menu h3.header i.dropdown {
  -webkit-transition: -webkit-transform .3s ease;
          transition: transform .3s ease;
}
@media (min-width: 769px) {
  .ui.vertical.menu h3.header i.dropdown {
    display: none;
  }
}
.ui.vertical.menu h3 .icon {
  padding-top: 0;
}
.ui.vertical.menu h3#layout .icon {
  padding-top: .13em;
}
.ui.vertical.menu h3 .header {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.4em;
  line-height: 1;
}
@media (max-width: 768px) {
  .ui.vertical.menu .item.filter {
    display: none;
  }
}
.ui.vertical.menu .transparent.icon.input {
  width: 100%;
}
.ui.vertical.menu .transparent.icon.input .circular.icon {
  top: -0.35em;
  right: -0.35em;
}
.ui.action.input:not([class*="left action"]) input:focus {
  border-right: transparent;
}
/*-----------------CATEGORY LSIT--------*/
#post-cards .post-header {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
#post-cards .post-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  #post-cards .post-description {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 992px) {
  #post-cards .post-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
#post-cards .ui.label:first-child {
  margin-bottom: .6em;
}
#post-cards .card {
  -webkit-transition: width .5s ease;
          transition: width .5s ease;
}
#post-cards img {
  max-width: 100px;
  max-height: 100px;
}
@media (min-width: 768px) {
  #post-cards img {
    max-height: 150px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  #post-cards img {
    max-width: 150px;
    min-width: initial;
  }
}
#post-cards .ui.image {
  margin-right: 1em;
  width: auto;
}
@media (min-width: 768px) {
  #post-cards .ui.image {
    margin-bottom: 1em;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #post-cards .ui.image {
    margin-bottom: 0;
    margin-right: 1em;
  }
}
