body, html {
	height: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*--------------------------MAIN------------------*/
	.main.wrapper {
		flex-grow: 1;
		margin-bottom: 2rem;
	}
	.main.wrapper .ui.grid {
		padding: 0 1em;
	}
	.main.wrapper #post-cards .post-header {
		flex-grow: 0;
	}
	.main.wrapper #post-cards .post-description {
		display: flex;
	}
	.main.wrapper #post-cards .ui.label:first-child {
		margin-bottom: .6em;
	}
	.main.wrapper #post-cards .card {
		transition: width .5s ease;
	}
	.main.menu .item img.logo {
		margin-right: 1.5em;
	}
	.main.menu.fixed {
		background-color: #FFF;
		border: 1px solid #DDD;
		box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	}
	.main.menu .active.item, .main.menu .active.item:hover {
		color: #AF0000;
		font-weight: 700;
	}
	aside .ui.vertical.menu {
		width: auto;
		margin-top: 2em;
	}

/*--------------------------GENERAL------------------*/
	#mixer .mix {
		display: none;
	}
	a.right.floated {
		float: right;
		color: inherit;
	}
	a.right.floated:hover {
		color: rgba(0,0,0,.4);
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

/*------------------ACCORDION--------------*/
	.accordion .header {
		display: inline-block;
		font-size: 1.7em;
		line-height: 1;
	}
	.accordion .title .label {
		float: right;
	}
	.ui.accordion .title i.dropdown.icon {
		font-size: 1.5em;
	}

	.accordion .wrapper {
		display: flex;
	}
	.accordion .wrapper .ui.image {
		margin-right: 1em;
		min-height: 180px;
	}
	.accordion .wrapper .description {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.accordion .wrapper .description p {
		flex-grow: 1;
	}
	.accordion .wrapper .description .bottom {
		border-top: 1px solid #aaa;
		padding: .5em;
		display: flex;
	}
	.accordion .wrapper .description .bottom .icon {
		margin-left: .5em;
	}
	.accordion .content .bottom a {
		color: #E26B1C;
	}
	.accordion .content .bottom a:hover {
		color: #FF6A00;
		text-decoration: underline;
	}
	.vertical.menu h3.header {
		padding: 10px;
		margin: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.vertical.menu h3 .icon {
		padding-top: 0;
	}
	.vertical.menu h3 .header {
		flex-grow: 1;
		font-size: 1.4em;
		line-height: 1;
	}

	@media (max-width: 768px) {
		.ui.vertical.menu .item.filter {
			display: none;
		}
		.ui.vertical.menu .item.filter.reset {
			display: none;
		}
	}

/*-----------------CATEGORY LSIT--------*/
	thead #formAddCategory {
		float: right;
		margin-top: -5px;
	}
	#formAddCategory .fields {
		justify-content: flex-end;
	}

#post-cards .ui.image {
	margin-right: 1em;
	width: auto;
}
#post-cards img {
	max-width: 100px;
	max-height: 100px;
}
@media (min-width: 768px) {
	#post-cards .post-description {
		align-items: center;
		flex-direction: column;
	}
	#post-cards .ui.image {
		margin-bottom: 1em;
		margin-right: 0;
	}
	#post-cards img {
		max-height: 150px;
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	#post-cards .post-description {
		flex-direction: row;
		align-items: flex-start;
	}
	#post-cards .ui.image {
		margin-bottom: 0;
		margin-right: 1em;
	}
	#post-cards img {
		max-width: 150px;
	}
}
