extends layout

block content
	include ../inc/navbar.jade
	main.main.wrapper.ui.container-fluid
		.ui.stackable.grid
			aside.four.wide.column
				block aside
			section.twelve.wide.column
				block inside