extends ../template/default.tpl

block inside
	h1= title
	form#formAddUser.ui.form(name="adduser",method="post",action="/users")
		.field
			input#inputUserName(type="text", placeholder="username", name="username")
		.field
			input#inputUserPassword(type="text", placeholder="userpassword", name="userpassword")
		button#btnSubmit.ui.submit.button(type="submit") submit