extends ../template/default.tpl

block inside
	h1=title
	form#formAddPost.ui.form(name="addPost", method="post", action="/posts")
		.field
			label Titre
			input#inputTitle(type="text", placeholder="Titre", name="postTitle", required)
		.field
			label Lien
			input#inputUrl(type="text", placeholder="Lien", name="postUrl")
		.field
			label Texte
			textarea#inputBody(type="text", placeholder="Corps", name="postBody")
		.field
			label Image
			input#inputImage(type="text", placeholder="Image path", name="postImage")
		.field
			label Catégorie
			select.ui.search.dropdown(multiple="", name="postCategory", required)
				each category in categoryList
					option(value="#{category.name}") #{category.name}
		button#btnSubmit.ui.submit.button(type="submit") Enregistrer