extends layout

block content
	include ../inc/navbar.jade
	main.main.wrapper.ui.container-fluid
		.ui.stackable.grid
			aside.three.wide.column
				block aside
			section.thirteen.wide.column
				block inside